{% extends 'school/homebase.html' %}
{% block content %}
<br>
<br>
<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4">Teacher Login Panel</h1>
  <p class="lead">Welcome to School Management System.</p>
  <hr class="my-4">
  <p>Please select any to contiue...</p>
  <p class="lead">
    <a class="btn btn-danger btn-lg" href="teachersignup" role="button">Apply Now</a>
    <a class="btn btn-success btn-lg" href="teacherlogin" role="button">Login</a>
  </p>
</div>
{% endblock content %}

